body{
   margin: 0;
   padding : 0em;
   
}

nav {
    width: 100%;
    
}
ul {

    display: inline;
    list-style-type: none;
    
}
header li {
    position: relative;
    vertical-align: right;

}

header li a:hover {
    display: block;
    border-style: solid;
    background-color: rgba(173, 60, 84, 0.452);
    padding-bottom: -1em;
    
}

header li:hover .sous {
    display: block;
    padding-bottom: 0em;
    padding-left: 7em;
    
}

.sous{
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;

}
.sous:hover {
    background-color:rgba(173, 60, 84, 0.938) ;
}
